@font-face {
  font-family: "iconfont"; /* Project id 3825466 */
  src: url('iconfont.woff2?t=1670986538082') format('woff2'),
       url('iconfont.woff?t=1670986538082') format('woff'),
       url('iconfont.ttf?t=1670986538082') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tubiao-zhexiantu:before {
  content: "\eb96";
}

.icon-bingtutongji:before {
  content: "\e709";
}

.icon-tubiao:before {
  content: "\e698";
}

