$font-size-base: 14px;
$font-size-small: 12px;
$primary-color: #3296fa;

$table-checked-bg: #fafafa;
$title-color: #000;
$sub-title-color: #222;
$font-color: #333;
$text-color: #666;
$fade-color: #999;
$border-color: #d8d8d8;
$border-color2: #e6e9ea;
$border-color3: #e5e5e5;
$table-border: #e6e6e6;

$red-color: #ff3c3c;

$font-regular: 400;
$font-medium: 600;
$font-bold: 700;

:root {
    --primary-color: #3296fa;
    --bg-color: #fff;
    --aside-bg-color: #f2f3f5;
    --border-color: #f2f2f2;
    --text-color: #333;
    --btn-text-color: #333;
}